* {
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(192, 190, 190);
}


/* ------------------------------------------------------------------------------------- */


/* Dashboard */

.titulo-menu {
    position: absolute;
    width: 60%;
    height: 30px;
    left: 72px;
    top: 43px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    color: #F96060;
}

.side-menu {
    position: absolute;
    width: 18%;
    height: 100%;
    left: 1px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.content-menu {
    margin-left: 250px;
    width: 80%;
    height: 100%;
}

.li1 {
    position: absolute;
    width: 90%;
    height: 47px;
    margin-top: 25px;
    left: 9px;
    top: 28%;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.li2 {
    position: absolute;
    width: 90%;
    height: 47px;
    margin-top: 30px;
    left: 9px;
    top: 35%;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.li3 {
    position: absolute;
    width: 90%;
    height: 47px;
    margin-top: 35px;
    left: 9px;
    top: 42%;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

a {
    text-align: center;
    text-decoration: none;
    position: absolute;
    width: 119px;
    height: 30px;
    left: 78px;
    top: 216px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #F96060;
}

.img-logo {
    position: absolute;
    width: 15%;
    height: 40px;
    left: 7%;
    top: 4%;
}


/* Fim Dashboard */


/* ------------------------------------------------------------------------------------- */

.pac {
    position: absolute;
    width: 447px;
    height: 60px;
    left: 45%;
    top: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    color: #F96060;
}

.busca {
    position: absolute;
    width: 40%;
    height: 6%;
    left: 30%;
    top: 12%;
    background: #FFFFFF;
    border-radius: 16px;
    border-color: #F96060;
}

table {
    position: absolute;
    width: 78%;
    height: 20%;
    left: 20%;
    top: 20%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.img-search {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 67%;
    top: 13%;
}

tr {
    color: #F96060;
    font-size: 20px;
    text-align: center;
}